@import "tailwindcss";

@font-face {
  font-family: 'MyFont';
  src: url('./assets/Spartan-Medium.ttf') format('truetype');
  /* font-weight: normal; */
  font-style: normal;
}

:root{
  font-family: 'MyFont';
}

.scrollbar-hidden {
  overflow: auto;
  -ms-overflow-style: none;  
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
